.navbar_links {
    position: relative;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin: 20px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    transition: 0.5s;
    z-index: 1;
  }
 .navbar_links:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #fff056;
    border-bottom: 2px solid #fff056;
    transform: scaleY(2);
    opacity: 0;
    transition: 0.3s;
  }
 .navbar_links:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff056;
    transform: scale(0);
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
  }
 .navbar_links:hover {
    color: black;
  }
 .navbar_links:hover:before {
    transform: scaleY(1);
    opacity: 1;
  }
 .navbar_links:hover:after {
    transform: scaleY(1);
    opacity: 1;
  }